<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Animal:</label>
        <select class="form-select" data-live-search="true" formControlName="animal">
            <option *ngFor="let animal of animals" [ngValue]="animal">{{ animal.chip_number }} -
                {{animal.name}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="animal">Vaccine Type:</label>
        <select class="form-select" data-live-search="true" formControlName="vaccineType">
            <option *ngFor="let type of vaccineTypes" [value]="type">{{ type }}</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Vaccine Date</label>
        <input type="date" class="form-control" formControlName="vaccineDate">
    </div>
    <div class="mb-3">
        <label class="form-label">Expiration Date</label>
        <input type="date" class="form-control" formControlName="expirationDate">
    </div>
    <input type="submit" value="Vaccine" class="btn btn-info">
</form>