<div class="col-6 d-flex justify-content-end align-items-center ms-auto">
    <a routerLink="/animals">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-box-arrow-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
            <path fill-rule="evenodd"
                d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
        </svg>
    </a>
</div>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="title">
        <h3>Adoption form for {{animal.name}}({{animal.chip_number}})</h3>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <div *ngIf="formulario.get('name')?.invalid && formulario.get('name')?.touched" class="text-danger">
                Name is required.
            </div>
        </div>
        <div class="col-4">
            <label class="form-label">Surname*</label>
            <input type="text" class="form-control" formControlName="surname">
            <div *ngIf="formulario.get('surname')?.invalid && formulario.get('surname')?.touched" class="text-danger">
                Surname is required.
            </div>
        </div>
        <div class="col-4">
            <label class="form-label">NIF*</label>
            <input type="text" class="form-control" formControlName="nif">
            <div *ngIf="formulario.get('nif')?.invalid && formulario.get('nif')?.touched" class="text-danger">
                NIF is required.
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <label class="form-label">Phone*</label>
            <input type="text" class="form-control" formControlName="phone">
            <div *ngIf="formulario.get('phone')?.invalid && formulario.get('phone')?.touched" class="text-danger">
                Phone is required.
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Email*</label>
            <input type="email" class="form-control" formControlName="email">
            <div *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="text-danger">
                Email is required.
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <label class="form-label">Address*</label>
            <input type="text" class="form-control" formControlName="address">
            <div *ngIf="formulario.get('address')?.invalid && formulario.get('address')?.touched" class="text-danger">
                Address is required.
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label class="form-label">City*</label>
            <input type="text" class="form-control" formControlName="city">
            <div *ngIf="formulario.get('city')?.invalid && formulario.get('city')?.touched" class="text-danger">
                City is required.
            </div>
        </div>
        <div class="col-4">
            <label class="form-label">Zip*</label>
            <input type="text" class="form-control" formControlName="zip">
            <div *ngIf="formulario.get('zip')?.invalid && formulario.get('zip')?.touched" class="text-danger">
                Zip is required.
            </div>
        </div>
        <div class="col-4">
            <label class="form-label">State*</label>
            <input type="text" class="form-control" formControlName="state">
            <div *ngIf="formulario.get('state')?.invalid && formulario.get('state')?.touched" class="text-danger">
                State is required.
            </div>
        </div>
    </div>
    <input type="submit" value="Adopt" class="btn btn-info" [disabled]="formulario.invalid">
</form>