<h2>Registro de usuario</h2>
<form [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Surname</label>
        <input type="text" class="form-control" formControlName="surname"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Role</label>
        <select class="form-select" formControlName="role">
            <option value="cuidador">Cuidador</option>
            <option value="veterinario">Veterinario</option>
            <option value="admin">Admin</option>
        </select>
    </div>
    <div class="mb-3" *ngIf="formReg.get('role')?.value === 'admin'">
        <label class="form-label">Admin Password</label>
        <input type="password" class="form-control" formControlName="adminPassword"/>
    </div>
    <input type="submit" value="Enviar" class="btn btn-info"/>
</form>